{% extends "default.html" %}
{% block body %}
<title>Test</title>
{% if each %}
<ol>
    {% for e in each %}
    <li>id: <b>{{e.id}}</b> record: <i>{{e.random_record}}</i></li>
    {% endfor %}
</ol>
{% endif %}

<span id=result>?</span>

{% if single %}
<ol>
    <li>{{single.id}} <i>{{single.random_record}}</i>
        &nbsp;
        <button id="del" value="{{single.id}}" name="a">Delete</button>
    </li>
</ol>
{% endif %}
<p id="msg"></p>

<section>
    <button id="create_random_entry">Create Entry</button>
</section>

<form id="target" method='POST' action="{{ url_for('index') }}"></form>
{% endblock %}