<footer>
    <section class="bg-gray" id="available-services">
        <div class="container py-5">
            <div class="row">
                <!-- Awesome Font @ https://mdbootstrap.com -->
                <div class="col-sm-4 text-center"><i class="far fa-envelope fa-3x py-1"></i>
                    <h5><a href="mailto: pcameron5@gmail.com">pcameron5@gmail.com</a></h5>
                </div>
                <div class="v-seperator d-sm-none d-md-block"></div>
                <div class="col-sm-4 text-center"><i class="fas fa-mobile-alt fa-3x py-1"></i>
                    <h5><a href="tel:6142162858">(614) 769-7151 </a></h5>
                </div>
                <div class="v-seperator d-sm-none d-md-block"></div>
                <div class="col-sm-4 text-center"><i class="far fa-clock fa-3x py-1"></i>
                    <h5>Hours of Operation</h5>
                    <h5>Monday–Saturday, 3:45pm - 10pm</h5>
                    <h5>Available by Appointment</h5>
                </div>
            </div>
            <div class="row">
                <h6 class="m-auto"><a href="https://www.linkedin.com/in/paul-cameron-45225813b" target="_blank">Web Admin: Paul Cameron</a></h6>
            </div>
        </div>
    </section>
</footer>