{% extends "default.html" %}
{% block body %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fade-in.css') }}">

<div class="masthead d-sm-none d-md-block">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-10 offset-1 text-center">
                <div class="op-5 margin-auto"></div>
                <h1 class="mt-x15 position-relative margin-l-r-auto">Your Source for Any and All Technology Needs</h1>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="" id="intro">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-8 offset-2">
                <h2 class="font-weight-dark d-flex justify-content-center">
                    Technology & Computer Repair in the Greater Columbus, OH</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-2">
                <h5>
                    With over eighteen years of experience doing onsite work for small business and residential and
                    over 10 years maintaining the technology for a local hospital system. You will receive high-quality,
                    confidential services at an affordable price. We at <a
                        href="https://techlink614.com">techlink614</a> can help with any upgrades, repairs,
                    and software issues.
                </h5>
                <br>
                <h4 class="d-flex justify-content-center">Contact us at (866) 883-8469 to find out how we can help you
                    get the most from our technology.</h4>
            </div>
        </div>
        <hr>
        <div class="row py-5 fade-in">
            <div class="col-3 offset-1 text-center header-list op4 m-auto">
                <i class="fas fa-money-bill-wave fa-4x"></i>
                <h4>Reasonably Priced</h4>
                <p>We are extremely fair and honest at techlink614 and that means making sure you are happy with your PC
                    repair experience.</p>
            </div>
            <div class="col-3 offset-1 text-center header-list op4 m-auto">
                <i class="fas fa-map-signs fa-4x"></i>
                <h4>Local Business</h4>
                <p>Thanks to the community, we've been supporting Central Ohio since 2008.</p>
            </div>
            <div class="col-3 offset-1 text-center header-list op4 m-auto">
                <i class="fas fa-user-tie fa-4x"></i>
                <h4>Qualified Professional</h4>
                <p>Our trained and certified technicians have experience with a variety of networking, desktop, and
                    laptop brands .</p>
            </div>
        </div>
    </div>
</section>
<script type="java">
$(document.getElementById('scrollsnap-container').scroll(function(){
        $("#intro").css("opacity", 1 - $(document.getElementById('scrollsnap-container')).scrollBottom() / 250);
  });

</script>
{% endblock %}