{% extends "default.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="d-flex flex-column" style="min-height: 80vh;">
    <div class="wrapper fadeInDown" style="margin-top:auto; margin-bottom: auto;">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ url_for('static', filename='img/logo-250-100.png')}}" id="icon" alt="User Icon"/>
            </div>
            <!-- Login Form -->
            <form method="POST" action="{{url_for('.login')}}">
                <div class="form-field">{{ form.Username.label }} {{ form.Username(size=20) }}</div>
                {{ form.submit }}
            </form>
            {% if msg %}
            {{msg}}
            {% endif %}
            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}