body{
    background-color: white;
}

/* gray color background */
.bg-gray{
    background-color: rgb(225,225,225);
}

.cf{
    color: rgb(39,109,39); /** green'ish **/
}

.wf{
    color: rgb(225,225,225); !important/** white'ish **/
}

h1,h2,h3,h4,h5,h6{

}

h1{
    color: rgb(45, 107, 121) /** green'ish **/
}
h1.up{
    text-transform: uppercase;
}

.header-list h1{
    color: white !important;
}

/* unvisited link */
a:link {
 color: rgb(109, 39, 109);  /**purple'ish **/
}

/* visited link */
a:visited {
  color: rgb(121, 27, 27);
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: rgb(121, 27, 74);
}

/* NAV BAR */
.navbar-nav{
    font-size: x-large; important
}
nav .navbar-nav li a{
    color: white !important;
}
nav .navbar-nav li a:hover{
  color: #D0B562 !important;
}

/* HEADER */
.masthead {
    height: 60vh;
    min-height: 470px;
    background-image: url('/static/img/columbus-skyline.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.op-5{
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 835px;
    display: block;
}

/* Transparent */
.op-5::before{
    content: "";
    background-image: url('/static/img/3D-graphics_Gray_Texture_016438_29.jpg');
    border-radius: 25px;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.tag {
}

.tag {
opacity: 0;
transform: translate(0, 10vh);
transition: all 1s;
}
.mt-x15 {
  margin-top: -95px !important;
  color: white;
}
.v-seperator{
    border-left: 1px solid rgb(39,109,39);
    min-height: 10px;
    margin-left: -3px;
}
/* divider */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px gray solid
}

/* Sections */
section#intro, section#available-services{
    border-top: 1px gray solid;
}

i.fas, i.far{
    color: #2D6B79;
}

footer{
    background-color: rgb(45, 107, 121);
    margin-bottom: -5px;;
}